<nav class="nav-extended white black-text">
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a><i class="fa fa-home"></i> Menu 1</a>
        </li>
        <li>
          <a>Menu 2</a>
        </li>
        <li>
          <a (click)="logout()">Logout</a>
        </li>
      </ul>
      <ul class="left hide-on-med-and-down">
          <li id="logo">
            <h5>Logo</h5>
          </li>
          <li>
            <div class="input-field">
              <input id="search" type="text" placeholder="Rechercher" class="black-color">
              <i id="search-icon" class="fa fa-search prefix grey-text"></i>
            </div>
          </li>
      </ul>
    </div>
</nav>