#logo{
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 0px;
}

nav li a{color: #888888;}

#search{
    background-color: #fafafa;
    height: 30px;
    border-radius:15px;
    padding-left: 10px;
    margin-right: 10px;
    color: #888888;
}


#search::placeholder{color: #cccccc;}

#search-icon{
    position: absolute;
    right: -30px;
    font-size: 15px;
    top: 0px;
}

#search-btn{
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    color: #555555;
}

#search-btn:hover{opacity: 0.5;}

#search-btn:active{opacity: 0.3;}