@import "../../../../../theme/current.theme.scss";

.navigation{
    a{
        float: right;
        margin-right: 20px;
        text-decoration: underline;
        color:$button_color;
    }
}

div.card{
    background-color: $background_color;
    div.card-image{
        img{
            width: 100%;
            height: 100%;
        }
    }
    .avatar{
        border: none;
        margin-top: 0px;
        background-color: $background_color;
        color: $link_color;
        .secondary-content{
            font-style: italic;
            color: $color;
        }
        p{
            color: $color;
            font-style:italic;
        }
    }
}

.tabs{
    float: left;
    width: 320px;
    a{
        color: $button_color;
        cursor: pointer;
    }
}

strong.right{
    margin-top: 12px;
    font-size: 15px;
}

.loading-card{
    padding: 50px;
    color: $color;
}

div.card-image{
    max-height: 350px;
    overflow: hidden;
}

@media screen and(min-width:1300px){
    div.element{
        padding-left: 100px;
        padding-right: 100px;
    }
}

div.card-action a:hover{
    opacity: 0.5;
    cursor: pointer;
}

div.card-action{

    i.heart{color: #f52020;}
}

