<div class="row">
  <div class="col s12">
      <ul class="tabs tabs-fixed-width transparent">
          <li class="tab">
            <a href="/home#all">Tout</a>
          </li>
          <li class="tab">
            <a href="/home#recent">A la Une</a>
          </li>
          <li class="tab">
            <a href="/home#my-blogs">Mes Blogs</a>
          </li>
      </ul>
      <strong class="right">
          <a>Tags <i class="fa fa-angle-down"></i></a>
      </strong>
  </div>
</div>

<div class="row element" id="all">

  <div *ngIf="data.length==0" class="col s12" align="center">
    <div class="card loading-card">
      <div *ngIf="!load_data">
        <h5>message</h5>
      </div>

      <div *ngIf="load_data" class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
              <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="data.length>0">
    <div class="col s12" *ngFor="let item of data">
      <div class="card">
  
        <div class="card-image">
          <!----------------------------------------------------------->
          <img *ngIf="item.url" class="materialboxed img" src="{{item.url}}" height="" (load)='open()'>
        
        </div>
  
        <div class="card-content">
          <span class="card-title"><strong>{{item.title}}</strong></span>
          <p>{{item.description}}</p>
        </div>
  
        <ul class="collection avatar">
          <li class="collection-item avatar">
            <i class="fa fa-user circle blue darken-2"></i>
            <span class="title">{{item.pseudo}}</span>
            <p>{{item.email}}</p>
            <a class="secondary-content">{{item.date}}</a>
          </li>
        </ul>

        <div class="card-action">
          <a href="" class="blue-text">
            <i class="comment fa fa-comment"></i> Commentaires 0 
          </a>

          <a class="blue-text">
            <i class="heart fa fa-heart"></i> Reactions 0
          </a>
        </div>
  
      </div>
    </div>
  </div>

</div>

<div class="row element" id="recent">

  <div *ngIf="data.length==0" class="col s12" align="center">
    <div class="card loading-card">
      <div *ngIf="!load_data">
        <h5>message</h5>
      </div>

      <div *ngIf="load_data" class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
              <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="data.length>0">
    <div class="col s12" *ngFor="let item of data; let index=i">
      <div class="card">
  
        <div class="card-image">
          <!----------------------------------------------------------->
          <img *ngIf="item.url" class="materialboxed img" src="{{item.url}}" height="" (load)='open()'>
        </div>
  
        <div class="card-content">
          <span class="card-title"><strong>{{item.title}}</strong></span>
          <p>{{item.description}}</p>
        </div>
  
        <ul class="collection avatar">
          <li class="collection-item avatar">
            <i class="fa fa-user circle blue darken-2"></i>
            <span class="title">{{item.pseudo}}</span>
            <p>{{item.email}}</p>
            <a class="secondary-content">{{item.date}}</a>
          </li>
        </ul>

        <div class="card-action">
          <a href="" class="blue-text">
            <i class="comment fa fa-comment"></i> Commentaires 0 
          </a>

          <a class="blue-text">
            <i class="heart fa fa-heart"></i> Reactions 0
          </a>
        </div>
  
      </div>
    </div>
  </div>

</div>

<div class="row element" id="my-blogs">

  <div *ngIf="data.length==0" class="col s12" align="center">
    <div class="card loading-card">
      <div *ngIf="!load_data">
        <h5>message</h5>
      </div>

      <div *ngIf="load_data" class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
              <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="data.length>0">
    <div class="col s12" *ngFor="let item of data">
      <div class="card">
  
        <div class="card-image">
          <!----------------------------------------------------------->
          <img *ngIf="item.url" class="materialboxed img" src="{{item.url}}" height="" (load)='open()'>
        </div>
  
        <div class="card-content">
          <span class="card-title"><strong>{{item.title}}</strong></span>
          <p>{{item.description}}</p>
        </div>
  
        <ul class="collection avatar">
          <li class="collection-item avatar">
            <i class="fa fa-user circle blue darken-2"></i>
            <span class="title">{{item.pseudo}}</span>
            <p>{{item.email}}</p>
            <a class="secondary-content">{{item.date}}</a>
          </li>
        </ul>

        <div class="card-action">
          <a href="" class="blue-text">
            <i class="comment fa fa-comment"></i> Commentaires 0 
          </a>

          <a class="blue-text">
            <i class="heart fa fa-heart"></i> Reactions 0
          </a>
        </div>
  
      </div>
    </div>
  </div>

</div>
