<h4>Posts</h4>
<div class="divider"></div>
<div class="row">
    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <img src=".../../../../../assets/img2.png" height="130px">
                <span class="card-title">Titre de l'article</span>
            </div>
            <div class="card-content">
                <small>Extrait de text</small>
            </div>
            <div class="card-action teal-text">
                <a class=" teal-text">Voir</a>
            </div>
        </div>
    </div>
    
    <!---------------------------------------------------------------------------->
    
    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <img src=".../../../../../assets/img3.jpg" height="130px">
                <span class="card-title">Titre de l'article</span>
            </div>
            <div class="card-content">
                <small>Extrait de text</small>
            </div>
            <div class="card-action teal-text">
                <a class=" teal-text">Voir</a>
            </div>
        </div>   
    </div>

    <!---------------------------------------------------------------------------->

    <div class="col s4">
        <div class="card">
            <div class="card-image">
              <img src=".../../../../../assets/img4.jpg" height="130px">
              <span class="card-title">Titre de l'article</span>
            </div>
            <div class="card-content">
                <small>Extrait de text</small>
            </div>
            <div class="card-action">
                <a class=" teal-text">Voir</a>
            </div>
        </div>
    </div>       
</div>