<div class="comment row" *ngFor="let item of comments">
    <div class="col">
        <div class="circle blue" align="center">
            <i class="fa fa-user white-text fa-3x"></i>
        </div>
    </div>
    <div class="col s6 truncate">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <strong>pseudo</strong>
                </div>
                <p>
                    commentaire poster à
                </p>
                <div>
                    <small>25/12/2020</small>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="comments.length==0 && loading==false">
    <div class="card-content" align="center">
        <h5>Section Vide</h5>
    </div>
</div>

<div class="card" *ngIf="loading">
    <div class="card-content" align="center">
        <app-loading></app-loading>
        <br>
        <h5>
            Chargement des Commentaires
        </h5>
    </div>
</div>


<div class="divider"></div>
<br>

<div class="comment" *ngIf="!loading">
    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea name="comment" id="comment-area" [(ngModel)]="text_comment" class="materialize-textarea"></textarea>
              <label for="textarea1">Textarea</label>
            </div>
          </div>
          <div (click)="post_comment(text_comment)" class="btn blue waves-effect wevs-light">
              <i class="fa fa-reply"></i> Envoyer
            </div>
        </form>
      </div>
</div>