.header{
  display:flex;
  flex-direction: column;
}
.sub-body{
  display:flex;
  flex-direction: column;
}
.parent{
  width:100%;
  height:100%;
  display: flex;
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
}
.body{
  background-color:transparent;
  min-width: 300px;
  @media(max-width: 768px){
    min-width: 250px;
  }
}

.subtitle{
  width:100%;
  text-align: center;
  font-size: 1.5rem;
  margin-top: .8em;
}

input{
  height:2rem !important;
}
mat-label{
}
button{
  background-color: #0069a4;
  color:white !important;
  padding: 2px 0;
  border-radius: 13px;
}
.sign-in{
  color:#9d93b5;
  font-size: .9rem;
  width:100%;
  text-align: center;
  margin-top: .75em;
  span{
    margin-left: 10px;
    color:#876fed;
    cursor:pointer;
  }
  span:hover{
    text-decoration: underline;
  }
}
a{
  text-decoration: none;
}
