<div class="parent">
  <div class="body">
    <div class="header">
      <p class="techzara-logo">TECHZARA</p>
      <p class="subtitle">Inscription</p>
    </div>
    <div class="sub-body">
      <mat-form-field class="login-form-field">
        <mat-label>Email</mat-label>
        <input matInput type="email">
      </mat-form-field>
      <mat-form-field class="login-form-field">
        <mat-label>Nom</mat-label>
        <input matInput type="email">
      </mat-form-field>
      <mat-form-field class="login-form-field">
        <mat-label>Prénom</mat-label>
        <input matInput type="email">
      </mat-form-field>
      <mat-form-field class="login-form-field">
        <mat-label>Password</mat-label>
        <input matInput type="password">
      </mat-form-field>
      <button mat-button color="primary">S'inscrire</button>
      <p class="sign-in">Avez-vous déjà un compte ? <span><a routerLink='/'>Connectez-vous</a></span></p>
    </div>
  </div>
</div>
