
<div align="center">
    <img align="center" class="materialboxed circle" id="photo" width="90px" height="90px" src="../assets/img1.jpg">
</div>

<!----------------------------------------------------->

<div align="center">
    <h5>
      <strong>user_name</strong>
    </h5>
</div>

<!----------------------------------------------------->

<div align="center">
    <strong>user_pseudo</strong>
</div>

<!----------------------------------------------------->

<div align="center">
    <small>example@test.com</small>
</div>

<!----------------------------------------------------->
<br>
<!----------------------------------------------------->

<div class="control">
    <div align="center" >
        <div class="btn blue waves-effect waves-light">
        Follow
        </div>
    </div>
    <br>
    <div align="center" >
      <div class="btn transparent blue-text waves-effect waves-light">
        Subscribe
      </div>
    </div>
</div>

<!----------------------------------------------------->
<br>
<div class="divider"></div>
<!----------------------------------------------------->

<div align="center">
    <h5>50000</h5>
    <p>
      <small>description</small>
    </p>
</div>

<!----------------------------------------------------->
<div class="divider"></div>
<!----------------------------------------------------->

<div class="links">
    <ul>
      <li>
        <a href=""><i class="fa fa-home"></i> Lien 1 blablabla</a>
      </li>
      <li>
        <a href=""><i class="fa fa-car"></i> Lien 2 blablabla</a>
      </li>
      <li>
        <a href=""><i class="fa fa-plane"></i> Lien 3 blablabla</a>
      </li>
    </ul>
</div>