<div class="row">
    <div class="col content s12 z-depth-1">
        <h5 class="center align">Test de Connexion</h5>
        <h5 class="{{color}} center align">{{status}}</h5>
        <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="username" [(ngModel)]="username" type="text">
                <label for="username">Nom d'utilisateur</label>
              </div>
              <div class="input-field col s12">
                <input id="password" type="password" [(ngModel)]="password">
                <label for="password">Mot de Passe</label>
              </div>
              <div class="col s12">
                  <div class="btn blue waves-effect waves-light" (click)="connect()">Connect</div>
              </div>
            </div>
        </div>
    </div>
</div>