<div class="parent">
  <div class="body">
    <div class="header">
      <p class="techzara-logo">TECHZARA</p>
      <p class="subtitle">Connexion</p>
    </div>
    <div class="sub-body">
      <form [formGroup]="loginForm">
        <mat-form-field class="login-form-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="login" [errorStateMatcher]="matcher" type="email">
          <mat-error *ngIf="loginForm.controls['login'].hasError('required')">
            Ce champ est requis
          </mat-error>
        </mat-form-field>
        <mat-form-field class="login-form-field">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" [errorStateMatcher]="matcher" type="password">
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
            Ce champ est requis
          </mat-error>
        </mat-form-field>
        <button mat-button color="primary" [disabled]="loginForm.controls['password'].hasError('required') || loginForm.controls['login'].hasError('required')">Se connecter</button>
        <p class="sign-in">Vous n'avez pas encore de compte ?  <span><a routerLink='/inscription'>Inscrivez-vous</a></span></p>
      </form>
    </div>
  </div>
</div>
