@import "../../../../../theme/current.theme.scss";

nav{
    box-shadow: none;
    background-color: $body_background;
    color: $text_color;

    small{color: $text_color;}

    a{color: $text_color;}

    h5.left{margin-left: 20px;}

    ul.right{
        margin-right: 20px;
        p{
            margin: 0px;
            color: $text_color;
            margin-left: 9px;
        }
        li{
            span{color: $text_color;}
        }

        input{
            border-bottom: 1px #e0e0e0 solid;
            color: $text_color;
        }

        input:focus{
            border-bottom: 1px $button_color solid;
        }
    }
}
