<h5 align="center">En Ligne</h5>

<!--------------------------------------------->
<div class="divider"></div>
<!--------------------------------------------->

<ul class="collection">

    <li class="collection-item avatar">
        <i class="fa fa-user circle blue"></i>
        <span class="title">usern_name</span><br>
        <p>user_pseudo <br>
          <small>example@test.com</small>
        </p>
        <a href="#!" class="secondary-content"><i class="fa fa-search"></i></a>
    </li>
      
    <li class="collection-item avatar">
        <i class="fa fa-user circle green"></i>
        <span class="title">usern_name</span><br>
        <p>user_pseudo <br>
          <small>example@test.com</small>
        </p>
        <a href="#!" class="secondary-content"><i class="fa fa-search"></i></a>
    </li>

    <li class="collection-item avatar">
        <i class="fa fa-user circle yellow"></i>
        <span class="title">usern_name</span><br>
        <p>user_pseudo <br>
          <small>example@test.com</small>
        </p>
        <a href="#!" class="secondary-content"><i class="fa fa-search"></i></a>
    </li>

    <li class="collection-item avatar">
        <i class="fa fa-user circle orange"></i>
        <span class="title">usern_name</span><br>
        <p>user_pseudo <br>
          <small>example@test.com</small>
        </p>
        <a href="#!" class="secondary-content"><i class="fa fa-search"></i></a>
    </li>

    <li class="collection-item avatar">
        <i class="fa fa-user circle red"></i>
        <span class="title">usern_name</span><br>
        <p>user_pseudo <br>
          <small>example@test.com</small>
        </p>
        <a href="#!" class="secondary-content"><i class="fa fa-search"></i></a>
    </li>
</ul>

<div align="center">
    <a class="teal-text">Tout Afficher</a>      
</div>
