<app-navbar></app-navbar>

<div class="container">
    <h4>Resultat des recherches</h4>
    <div class="divider"></div>
    <br>
    <div class="card">
        <div class="card-content">
            <div class="card-title">titre</div>
            <p>
                extrait
            </p>
            <small>
                date
            </small>

            <div class="right">
                <a href="/" class="btn blue waves-effect waves-light">
                    Voir <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<br><br>
<app-footer></app-footer>