<footer>
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h4>
              <strong>TECHZARA</strong>
          </h4>
        </div>
        <div class="col l6 s12">
          <div class="row">
            <div class="col s6">
                <ul>
                    <li><a href="#!">Home</a></li>
                    <li><a href="#!">About</a></li>
                    <li><a href="#!">Contact</a></li>
                    <li><a href="#!">Open Source</a></li>
                  </ul>
            </div>
            <div class="col s6">
                <ul>
                    <li><a href="#!">Privacy Policy</a></li>
                    <li><a href="#!">Terms of Use</a></li>
                    <li><a href="#!">Code of Conduct</a></li>
                  </ul>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col s12">
        <small>Techzara - Copyright 2016 - 2020</small>
        <span id="external-link">
            <i class="fa fa-github fa-2x"></i>
            <i class="fa fa-twitter fa-2x"></i>
        </span>
      </div>
    </div>
</footer>