<h4>Postez Quelque Chose</h4>

<!-------------------------------------------------->
<div class="divider"></div>
<!-------------------------------------------------->

<form action="#">
    <div class="row">
        <div class="input-field col s6">
          <input id="title" type="text" data-length="10">
          <label for="title">Titre de l'article</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
        <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
        <label for="textarea2">Description</label>
    </div>
    </div>
    <div class="file-field input-field">
        <div class="btn waves-effect waves light blue">
          <span>Fichier</span>
          <input type="file" multiple>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Ajouter des Photos">
        </div>
    </div>  
    <div class="btn waves-effect waves-light blue">Poster</div>
</form>