/* You can add global styles to this file, and also import other style files */
@import "materialize-css/sass/materialize.scss";
@import "material-icons/css/material-icons.min.css";
@import "material-icons/css/material-icons.css";
@import "font-awesome/css/font-awesome.min.css";
@import "./theme/current.theme.scss";

.btn{
    box-shadow: none;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background-color: $body_background;
}