<div class="row">
    <div id="decoration">
        <div class="col s6">
            <h4>Notre Communauté</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit 
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                mollit anim id est laborum.
            </p>
            <div class="btn blue darken-2 waves-effect waves-light" (click)='show()'>
               <i class="fa fa-plus"></i> Nouveau Blog
            </div>
        </div>
        <div class="col s6">
            <img class="activator" src="../../../../../assets/img3.jpg" width="100%" height="100%">
        </div>
    </div>

    <div class="row" id="post">
        <form class="col s12" [formGroup]="form_post">
            <h4>Publier un Article</h4>
            <div class="divider"></div>
            <br>
            <div class="row">
                <div class="input-field col s6">
                <input id="title" type="text" formControlName="title" data-length="10">
                <label for="title">Titre du Blog</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                <textarea id="description" formControlName="description" class="materialize-textarea" data-length="120"></textarea>
                <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="file-field input-field">
                        <div class="btn blue darken-2 waves-effect waves-light">
                            <span><i class="fa fa-image"></i></span>
                            <input type="file" id="files" multiple formControlName="files">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path" id="txt" disabled type="text" placeholder="Chargez vos images">
                        </div>
                    </div>
                </div>
                <br>
                <div class="col" id='control'>
                    <button class="btn blue darken-2 waves-effect waves-light" [disabled]="!form_post.valid" (click)='post()'>
                        <i class="fa fa-send"></i> Poster
                    </button>
                    <div class="btn red darken-2 waves-effect waves-light" (click)='hide()'>
                        <i class="fa fa-cancel"></i> Annuler
                    </div>
                </div>
            </div>
            <br>
            <div class="divider"></div>
        </form>
    </div>
</div>