@import "../home/home.component.scss";

*{
    color: $text_color;
}

#control{
    float: right;
    .btn{
        margin-left: 5px;
    }
}

#post{
    display:none;
    background-color: $background_color;
    padding: 20px;
    border-radius: 10px;
}

#user-info{
    display:none;
    background-color: $background_color;
    padding: 20px;
    border-radius: 10px;
    .clickable{
        cursor: pointer;
        color:$link_color;
        :hover{opacity: 0.8;}
        :active{opacity: 0.5;}
    }

}

div.controls{
    a{
        margin: 5px;
    }

    .loader{
        position: relative;
        top:13px;
        left: 10px;
    }
}