<div class="row">

    <div id="decoration">
        <div class="col l6 s12 right">
            <img class="activator" src="../../../../../assets/img.jpg" width="100%" height="100%">
        </div>
        <div class="col l6 s12">
            <h4>Notre Communauté</h4>
            <p>
                Première version du blog Techzara 2020. Deployé le 06/07/2020 en accès anticipé.
                Le site réunis les membre de Techzara Group et vous pouvez trouver ici les articles
                interviews et autres publications sur le groupe facebook.
                Le Blog (frontend et backend) sont disponible en Open Source sur Github.
                Merci de votre soutien et collaboration.
            </p>
            <div class="controls">
                <a href="/home#top" class="btn blue darken-2 waves-effect waves-light" (click)='show()'>
                    <i class="fa fa-plus"></i> Nouveau Blog
                </a>
                <a *ngIf="!data_load" href="/home#top" class="btn blue darken-2 waves-effect waves-light" (click)='user_show()'>
                    <i class="fa fa-user"></i>
                </a>
                <a *ngIf="data_load" class="loader">
                    <app-loader></app-loader>
                </a>
            </div>
        </div>
    </div>

    <div class="row z-depth-1" id="post">
        <div align="center" *ngIf="loading">
            <h5 class="center align">Envoi du poste en cours</h5>
            <app-loading></app-loading>
        </div>

        <form *ngIf="!loading" class="col s12" [formGroup]="form_post">
            <h4>Publier un Article</h4>
            <span class="red-text">{{post_error}}</span>
            <br>
            <div class="divider"></div>
            <br>
            
            <div class="row">
                <div class="input-field col s6">
                <input (click)='clear_error()' id="title" type="text" formControlName="title" data-length="10">
                <label for="title">Titre du Blog</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                <textarea (click)='clear_error()' id="description" formControlName="description" class="materialize-textarea" data-length="120"></textarea>
                <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="file-field input-field">
                        <div (click)='clear_error()' class="btn blue darken-2 waves-effect waves-light">
                            <span><i class="fa fa-image"></i></span>
                            <input type="file" id="files" multiple formControlName="files">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path" id="txt" disabled type="text" placeholder="Chargez vos images">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" id='control'>
                    <button class="btn blue darken-2 waves-effect waves-light" [disabled]="!form_post.valid" (click)='post()'>
                        <i class="fa fa-send"></i> Poster
                    </button>
                    <div class="btn red darken-2 waves-effect waves-light" (click)='hide()'>
                        <i class="fa fa-cancel"></i> Annuler
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>

    <div id="user-info" class="row z-depth-1">
        <h4>
           <a class="clickable" (click)="user_hide()"><i class="fa fa-angle-left"></i></a>  
           Gestion du Profil 
            <a class="clickable" (click)="update_toggle()"><i class="fa fa-edit"></i></a>
        </h4>
        <div class="divider"></div>
        <br><br>
        <form [formGroup]="form_user">
            <div class="row">
                <div class="input-field col s6">
                    <input formControlName="username" placeholder="" id="username" type="text">
                    <label class="active" for="username">Nom d'utilisateur</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input formControlName="pseudo" placeholder="" id="pseudo" type="text">
                    <label class="active" for="pseudo">Pseudo</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="email" formControlName="email" placeholder="" type="email">
                    <label class="active" for="email">Email</label>
                </div>
            </div>

            <div class="divider"></div>

            <small class="red-text">Entrez votre mot de passe pour confirmer la mise à jour du profil</small>

            <div class="row">
                <div class="input-field col s6">
                    <input id="password" formControlName="password" placeholder="" type="password">
                    <label for="password">Mot de Passe</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button (click)='update()' class="btn blue darken-2 waves-light waves-effect" [disabled]="!update_mode || !form_user.valid">
                        Mettre à Jour
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
