<div class="card">

  <div class="card-image">
    <!----------------------------------------------------------->
    <img class="materialboxed img" src="../../../../../assets/img3.jpg">
  
  </div>

  <div class="card-content">

    <div class="avatar row">
      <div class="circle blue col">
        <i class="fa fa-user white-text fa-2x"></i>
      </div>
      <div class="col">
        <strong>pseudo</strong>
      </div>
    </div>
    <div class="divider"></div>
    <br>
    <span class="card-title"><strong>Titre</strong></span>
    <p>
      description
    </p>
    <small class="date">date</small>
  </div>
  <div class="card-action">
    <a href="" class="blue-text">
      <i class="comment fa fa-comment"></i> Commentaires 0
    </a>

    <a class="blue-text">
      <i class="heart fa fa-heart"></i> Reactions 0
    </a>
  </div>

</div>