<div class="card">
  
    <div class="card-image">
      <!----------------------------------------------------------->
      <img class="materialboxed img" height="">
    </div>

    <div class="card-content">
      <span class="card-title"><strong>Titre</strong></span>
      <p>Desc</p>
    </div>

    <div class="card-action">
      <span>
        <i class="comment fa fa-comment"></i> Commentaires 0 
      </span>

      <span>
        <i class="heart fa fa-heart"></i> Reactions 0
      </span>
    </div>

</div>